.container {
	padding: 2rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
    gap: 5rem;
	&__title {
		font-size: clamp(1.5rem, 4.2vw, 2rem);
		color: #848990;

        @media (min-width: 766px) {
            text-align: left;
            align-self: flex-start;
        }
	}

    &__cardList{
        @media (min-width: 766px) {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 3rem;
        }
    }
}

.card {
	line-height: 2.1;
    margin-bottom: 5rem;

	&__img {
		margin: 0 auto 3rem auto;
        width: 35%;
        max-width: 250px;
        height: 60px;
	}

    &__content{
        height: 240px;
    }

	&__title {
		color: #052b2c;
		font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 1.4rem;

	}

	&__text {
		font-weight: lighter;
		color: #333d4b;
	}

    @media (min-width: 766px) {
        margin-bottom: 0;
        text-align: left;
    }
}
