.container {
	padding: 2rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 5rem;

	&__title {
		font-size: 1.5rem;
		color: #848990;
	}
}

.card {
	line-height: 2.1;
	&__img {
		margin: 0 auto 3rem auto;
	}

	&__title {
		color: #052b2c;
		font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 1.4rem;
	}

	&__text {
		font-weight: lighter;
		color: #333d4b;
	}
}
