.section {
	padding: 1rem;
}

.createPlan {
	margin-bottom: 5rem;
	padding: 8rem 2rem;
	border-radius: 0.6rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #f0f1f1;

	&__content{
		width: 100%;
		text-align: center;

		@media (min-width: 767px) {
			max-width: 400px;
			text-align: left;
		}
	}

	&__title{
		font-size: clamp(2rem, 7vw, 4rem);
		margin-bottom: 1.5rem;
	}

	&__text{
		line-height: 1.5;
	}

	@media (max-width: 425px) {
		background-image: url(../../assets/img/plan/mobile/image-hero-blackcup.jpg);
	}

	@media (min-width: 426px) and (max-width: 1023px) {
		background-image: url(../../assets/img/plan/tablet/image-hero-blackcup.jpg);
	}

	@media (min-width: 1024px) {
		background-image: url(../../assets/img/plan/desktop/image-hero-blackcup.jpg
		);
	}
}

.content {
	display: flex;
	flex-direction: column;

	@media (min-width: 767px) {
		width: 60%;
		max-width: 450px;
		padding: 1rem;
	}

	&__title,
	&__text {
		text-align: center;

		@media (min-width: 767px) {
			text-align: left;
		}
	}

	&__title {
		color: #f0f1f1;
		margin-bottom: 1.2rem;
		font-size: 2.2rem;
	}

	&__text {
		font-size: 0.9rem;
		color: #bec5c5;
		line-height: 1.5;
	}
}

.sectionPadding{
	@media (min-width: 766px){
		padding: 1rem;
	}
}
