.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    height: 300px;
    width: 70vw;
    background-color: #0e8784;
    border-radius: 0.4rem;

    @media (min-width: 1024px) {
        max-width: 270px;
        
    }

    &__img{
        width: 30%;
        max-width: 100px;
    }

    &__title, &__description{
        text-align: center;
        color: #f0f1f1;
    }

    &__title{
        font-size: 1.5rem;
    }

    &__description{
        line-height: 1.3;
    }
}