:root {
	--cyan: #0e8784;
	--darker-cyan: #052b2c;
	--grey: #9c9e9e;
	--dark-grey: #333d4b;
	--light-grey: #bec5c5;
	--coffee-brown: #fdd6ba;
	--white: #f0f1f1;

	--ff-barlow: 'Barlow', sans-serif;
	--ff-fraunces: 'Fraunces', serif;
}
