.nav {
	display: flex;
	justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
	padding: 1.5rem 1.5rem 1.8rem 1.5rem;

	&__container {
		@media (max-width: 767px) {
			width: 55%;
		}
	}

	&__icon {
		max-width: 210px;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__links{
		display: flex;
		gap: 1rem;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__link{
		font-size: 0.8rem;
		color: #9c9e9e;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__menu_hidden {
	}

	&__menu_display {

		
	}
}

.button {
    display: none;

    @media (max-width: 767px) {
        display: block;
        width: 28px;
	    padding: 0.3rem;
        background-color: #fff;
        border: none;
    }
	

	&__lines {
		display: block;
		background-color: black;
		height: 3px;
		margin-bottom: 0.2rem;
        border-radius: 0.4rem;
	}
}
