.nav {
	display: flex;
	justify-content: space-between;
    align-items: center;

	&__container {
		@media (max-width: 425px) {
			width: 55%;
		}
	}

	&__icon {
		@media (max-width: 425px) {
			width: 100%;
		}
	}

	&__menu_hidden {
		display: none;
	}

	&__menu_display {
	}
}

.button {
    display: none;

    @media (max-width: 425px){
        display: block;
        width: 30px;
	    padding: 0.3rem;
        background-color: #fff;
        border: none;
    }
	

	&__lines {
		display: block;
		background-color: black;
		height: 3px;
		margin-bottom: 0.2rem;
        border-radius: 0.4rem;
	}
}
